
#logo {
float: left;
height: 300px;
width: 400px;
}

h2 {
    margin-right: 150px;
    font-size: 50px;
    color:rgb(2, 153, 118)
}
h1 {
    margin-right: 150px;
    font-size: 100px;
    color:rgb(11, 78, 62)
}
table {
    margin-right: 150px;

    border-collapse: collapse;
}
table th {
    text-align: right;
    background-color:rgb(38, 139, 221);
    color:rgb(229, 238, 236);
    padding: 20px 150px 20px 40px;
}
table td {
    border:1px solid rgb(10, 146, 236);
    padding: 20px 40px;
}
table tr:nth-child(odd) td {
    background-color: rgb(145, 202, 255);
                           }
.img {
    border:5px solid rgb(1, 44, 83);
     }


.pi {
    font-size: 30px;
    
    }   
    a {
        font-size: 30px;
    }
    .vid {
    border: salmon;   
   }
    #rashamim {
        position: fixed;
    }
    p {
        margin-right: 150px;
    }
    #img1 {
        margin-right: 150px;
    }
     #vid3 {
        margin-right: 150px;
    }
    .link {
        margin-right: 150px;

    }
    form {
        font-size: 30px;
        color:rgb(172, 12, 137);
        margin-right: 150px;

    }
    select {
        font-size: 30px; 
    }
    label {
        margin-right: 150px;
        font-size: 30px;
        color:rgb(172, 12, 137);
          }
          input {
            font-size: 15px;
            color:rgb(172, 12, 137);
        }